  <!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/html">
	<head>

v id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5&appId=1417445805217822";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>


		<title>Go Where Me</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <meta keywords = "travel, tourism, adventure, backpacking, backpacker">
    {% load staticfiles %}
    <link rel="shortcut icon" href="{% static "images/favicon.ico" %}" />
    <link rel="stylesheet" href="{% static "assets/css/font-awesome.min.css" %}">
    <link rel="stylesheet" href="{% static "assets/css/bootstrap.min.css"%}">
    <script type="text/javascript" src="{% static "assets/js/jquery-2.2.0.min.js" %}"></script>
    <script type="text/javascript" src="{% static "assets/js/bootstrap.min.js"%}"></script>

    <!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="{% static "assets/css/materialize.min.css"%}" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>

    <!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
		<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
	</head>
<!-- 	<body style="font: Roboto;color: black;font-size: 24;
background: #02AAB0; /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #02AAB0 , #00CDAC); /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #02AAB0 , #00CDAC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */*/">
 -->
<body style="font: Roboto; color: black; font-size: 24; background-color:#224683">
   <header align="center" style="color: wheat;font: Roboto;font-size: 60px;">
        <h3>Itinerary!</h3>
        <div class="container-fluid">
            <div class="row">
                <div class="col s1 offset-s3"><h5>{{ origin }}</h5></div>
                <div class="col s2 offset-s1"><i class="fa fa-plane"></i></div>
                <div class="col s3 "><h5> {{ second_city }}</h5></div>
            </div>
        </div>
    </header>

      <div>
          <div class="container-fluid">

              <div class="row">
                <div class="col s8 offset-s2">
                    <ul class="collapsible" data-collapsible="accordion">

                        {% for place in places_list %}
                        <li>
                          <div class="collapsible-header">

                              <div class="row">
                                  <br>
                                  <img class="col s2 thumbnail" width="90" height="90" src="{{ place.photo }}">
                                  <span class="col s5">{{ place.city }}, {{ place.country }}</span>
                                  <span class="col s5">Days: {{ place.duration_of_stay }}</span>
                                  <span class="col s5">Money Spent To Get Here: ${{ place.price_of_travel}}</span>
                                  <span class="col s4">Cost Per Day ${{place.cost_per_day}}</span>
                              </div>
                          </div>

                          <div class="collapsible-body" style="background-color:#FCFCFC;"><font color="black">
                              <div class="row">
                                  {% for x in place.places%}
                                  <div class="col s8">
                                    {{x}}
                                  </div>
                                  {% endfor %}
                              </div>
                                </font>
                          </div>

                        </li>
                        {% endfor %}
                    </ul>
                </div>
              </div>
          </div>
      </div>
    <header align="center" style="color: wheat;font: Roboto;font-size: 60px;">
        <div class="container-fluid">
            <div class="row">
                <div class="col s1 offset-s3"><h5>{{ last_city }}</h5></div>
                <div class="col s2 offset-s1"><i class="fa fa-plane"></i></div>
                <div class="col s3 "><h5> {{ origin }}</h5></div>
            </div>
        </div>
    </header>

<div class="fb-share-button" data-href="http://routerush.me" data-layout="button_count"></div>

      <!-- Scripts -->
      <!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
	</body>
</html>


